.body {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 12;
    background-color: #ffffff;

    .container {
      display: flex;
      flex-direction: row;
      height: 100%;

      .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 16px;

        h1 {
          font-size: 24px;
          font-weight: 500;
          margin: 0;
          margin-bottom: 16px;
        }

        .content {
          width: 100%;
          height: calc(100vh - 154px);
          overflow: auto;
        }
      }
    }
  }
}
