version: '3.9'

services:

  postgres:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: user_db_postgres
      POSTGRES_PASSWORD: my_secret_password_postgres
      POSTGRES_DB: postgres

  redis:
    image: redis
    restart: always
    ports:
      - 6379:6379

  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_DATABASE: srms_db
  