<div class="body">
  <srms-menu-icon></srms-menu-icon>
  <srms-menu></srms-menu>
  <div class="main-content">
    <srms-header [logOut]="logOut.bind(this)"></srms-header>
    <div class="container">
      <div class="main">
        <div class="header">
          <h1>{{ title() }}</h1>
          <div class="spacer"></div>
          <div class="actions">
            <button mat-flat-button color="primary" (click)="(true)">
              <mat-icon>add</mat-icon>
              Agregar
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="content">
          <router-outlet />
        </div>
      </div>
    </div>
  </div>
</div>
