<mat-dialog-content>
  <mat-list>
    <mat-list-item>
      <mat-icon matListItemIcon>folder</mat-icon>
      <div matListItemTitle class="unread">Titulo notificación</div>
      <div matListItemLine class="unread">10 de Septiembre de 2024 · 12:50 pm</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>folder</mat-icon>
      <div matListItemTitle>Titulo notificación</div>
      <div matListItemLine>10 de Septiembre de 2024 · 12:50 pm</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>folder</mat-icon>
      <div matListItemTitle>Titulo notificación</div>
      <div matListItemLine>10 de Septiembre de 2024 · 12:50 pm</div>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button type="button" (click)="true">Marcar todas como leídas</button>
  <button mat-flat-button type="button" color="primary" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
