<div class="banner">
  <div class="banner-content">
    <h2 class="banner-title">¡Potencia el rendimiento y la colaboración de tu equipo!</h2>
    <p class="banner-text">
      ¡Descubre nuestra plataforma de evaluación de competencias! Con nuestras herramientas, podrás identificar y
      desarrollar las habilidades clave de tus colaboradores para optimizar el trabajo en equipo y alcanzar nuevos
      niveles de éxito. Desde la evaluación individual hasta la mejora del rendimiento colectivo, estamos comprometidos
      a impulsar el crecimiento profesional y la eficiencia en nuestra empresa. ¡Construyamos juntos
      un equipo más fuerte y competente!
    </p>
    <button mat-button>CONTACTANOS</button>
  </div>
  <img src="assets/images/image.png" class="background-image" alt="" />
</div>