.container {
  display: flex;
  flex-direction: row;

  .assessment {
    flex-grow: 1;
    margin-right: 4px;
    max-width: 50%;
  }

  .viewer {
    flex-grow: 1;
    margin-left: 4px;
    .graph {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
  }
}

.step-item {
  border: 1px solid #dfdfdf;
  padding: 0px 16px;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin-top: 16px;
}

.step-item__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.step-item__content__field {
  margin-top: 16px;
  width: 100%;
}
