<h2 mat-dialog-title>
    @if (data().formType == formType().CREATE) { Nuevo Equipo } @else if
    (data().formType == formType().EDIT) { Editar Equipo }
</h2>
<mat-dialog-content>
    <srms-squad-form
        [squad]="signal(data().squad ?? null)"
        (frmSquad)="squadForm($event)"
    ></srms-squad-form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button class="min-width-110" (click)="onCancelClick()">
        Cancelar
    </button>
    <button
        mat-flat-button
        color="primary"
        class="min-width-110"
        type="submit"
        form="frmSquad"
        [disabled]="!formSquad().valid"
    >
        @if (data().formType == formType().CREATE) { Crear } @else if
        (data().formType == formType().EDIT) { Actualizar }
    </button>
</mat-dialog-actions>
