.buttons {
  display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  button, a {
    margin: 4px 0;
    margin-left: 16px;
    margin-right: 16px;
  }
}

mat-dialog-content {
  padding-bottom: 0 !important;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #54595d;
  width: 120px;
}

.container-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.drag-drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  width: calc(100% - 45px);
}

.dragging {
  border-color: green;
}

.cursor {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  filter: grayscale(100%);
}

.backdoor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

input.ng-valid.ng-touched, input.ng-pristine {
  border-color: initial;
}

.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  mat-form-field {
    flex-grow: 1;
  }
}
