<h2 mat-dialog-title>Formulario de registro</h2>
<mat-dialog-content>
  <form autocomplete="off" [formGroup]="frmSignUp" id="frmSignUp" (submit)="onSubmit()">

    <!-- Full name -->
    <mat-form-field class="width-100">
      <mat-label>Nombre completo</mat-label>
      <input matInput formControlName="name" placeholder="Nombre completo" required>
      @if (frmSignUp.get('name')?.hasError('required')) {
      <mat-error>El nombre es obligatorio</mat-error>
      }
    </mat-form-field>

    <!-- Email -->
    <mat-form-field class="width-100">
      <mat-label>Correo electrónico</mat-label>
      <input matInput formControlName="email" placeholder="Correo electrónico" required>
      @if (frmSignUp.get('email')?.hasError('required')) {
      <mat-error>El correo electrónico es obligatorio</mat-error>
      } @else if (frmSignUp.get('email')?.hasError('email')) {
      <mat-error>El correo electrónico no es válido</mat-error>
      }
    </mat-form-field>

    <!-- Password -->
    <mat-form-field class="width-100">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Contraseña" required>
      @if (frmSignUp.get('password')?.hasError('required')) {
      <mat-error>La contraseña es obligatoria</mat-error>
      }
    </mat-form-field>

    <!-- Confirm password -->
    <mat-form-field class="width-100">
      <mat-label>Confirme su contraseña</mat-label>
      <input matInput type="password" formControlName="passwordConfirmation" placeholder="Confirme su contraseña"
        required>
      @if (frmSignUp.get('passwordConfirmation')?.hasError('required')) {
      <mat-error>La confirmación de la contraseña es obligatoria</mat-error>
      } @else if (frmSignUp.hasError('passwordsDontMatch')) {
      <mat-error>Las contraseñas no coinciden</mat-error>
      }
    </mat-form-field>

    <!-- Avatar -->
    <div>
      <div #dragArea class="width-100 container-avatar drag-drop-area cursor" [ngClass]="{'disabled': creatingUser()}"
        (click)="triggerFileInput()" (drop)="onDrop($event)" (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)" onKeyPress="" onKeyDown="" onKeyUp="">
        <mat-label>Cargue aquí su foto</mat-label>
        <input type="file" #fileInput hidden (change)="onFileSelect($event)" accept="image/*">
        <input type="text" formControlName="avatar" hidden>
        <img #avatar [src]="AVATAR_URL" alt="Avatar" class="avatar">
      </div>
      <div class="backdoor" [ngClass]="{'hidden': !creatingUser()}">
        <mat-spinner color="primary"></mat-spinner>
      </div>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="buttons">
    <button type="submit" form="frmSignUp" mat-flat-button color="primary" class="width-100"
      [disabled]="!frmSignUp.valid">REGISTRARSE</button>
    <a [routerLink]="['./security/sign-in']" mat-flat-button class="width-100">IDENTIFICARSE</a>
  </div>
</mat-dialog-actions>