.buttons {
  display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  button,
  a {
    margin: 4px 0;
    margin-left: 16px;
    margin-right: 16px;
  }
}

mat-dialog-content {
  padding-bottom: 0 !important;
}

.green {
  margin-right: 8px;
  color: green;
}

.red {
  margin-right: 8px;
  color: red;
}

.title {
  display: flex;
  align-items: center;
  padding-top: 9px;
}
