<div class="container">
  <div class="header">
    <mat-toolbar color="primary">
      <span>Skills Ranking and Monitoring System - SRMS</span>
    </mat-toolbar>
  </div>
  <div class="sub-container">
    <div class="menu">
      <mat-card>
        <mat-card-content>
          <mat-list>
            <a mat-list-item routerLink="./admin/roles" routerLinkActive="is-activated">
              <mat-icon matListItemIcon fontSet="fa-solid" fontIcon="fa-user-shield"></mat-icon>
              Gestión de roles (seguridad)
            </a>
            <a mat-list-item routerLink="./profiles/countries" routerLinkActive="is-activated">
              <mat-icon matListItemIcon fontSet="fa-solid" fontIcon="fa-user-shield"></mat-icon>
              Gestión de países
            </a>
            <a mat-list-item routerLink="./profiles/provinces" routerLinkActive="is-activated">
              <mat-icon matListItemIcon fontSet="fa-solid" fontIcon="fa-user-shield"></mat-icon>
              Gestión de departamentos
            </a>
            <a mat-list-item routerLink="./profiles/cities" routerLinkActive="is-activated">
              <mat-icon matListItemIcon fontSet="fa-solid" fontIcon="fa-user-shield"></mat-icon>
              Gestión de ciudades
            </a>
            <a mat-list-item routerLink="./profiles/roles" routerLinkActive="is-activated">
              <mat-icon matListItemIcon fontSet="fa-solid" fontIcon="fa-user-shield"></mat-icon>
              Gestión de roles (perfiles)
            </a>
            <a mat-list-item routerLink="./profiles/skills" routerLinkActive="is-activated">
              <mat-icon matListItemIcon fontSet="fa-solid" fontIcon="fa-user-shield"></mat-icon>
              Gestión de Habilidades
            </a>
            <a mat-list-item routerLink="./profiles/professionals" routerLinkActive="is-activated">
              <mat-icon matListItemIcon fontSet="fa-solid" fontIcon="fa-users"></mat-icon>
              Gestión de Profesionales
            </a>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="main">
      <mat-card>
        <mat-card-content>
          <div class="niam">
            <router-outlet />
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
