.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sub-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
    width: 100%;
    column-gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;

    div:first-child {
        flex-grow: 1;
        margin-left: 16px;
        max-width: fit-content;
    }

    div:last-child {
        flex-grow: 11;
        margin-right: 16px;
    }
}

.header {
    width: 100%;
}

.menu {
    mat-card-content {
        overflow: auto;
        height: calc(100vh - 64px - 72px);
    }
}

.main {
    mat-card-content {
        .niam {
            overflow: auto;
            height: calc(100vh - 64px - 72px);
            margin: 0;
            width: 100%;
            max-width: 100%;
        }
    }
}

a[mat-list-item] {
    cursor: pointer;
}

a[mat-list-item]:hover {
    background-color: #f0f0f0;
}

.is-activated {
    background-color: #f0f0f0;
}

.header-bar {
    background-color: #001c40;
    color: #f0f0f0;
}

.footer {
    position: fixed; /* Fija el footer en la parte inferior de la ventana */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333; /* Cambia esto según el estilo deseado */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 10px;
}

.spacer {
    flex-grow: 1;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.avatar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.dot-authenticated {
    background-color: #4caf50;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.dot-unauthenticated {
    background-color: #f44336;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.username-nav {
    margin-left: 8px;
    margin-right: 8px;
}

.profile-name {
    font-size: 16px;
    font-weight: normal;
}
