<div class="top10">
  <mat-card appearance="outlined" class="width-100">
    <mat-card-header>
      <mat-card-title>Top 10 Fullstack</mat-card-title>
      <mat-card-subtitle>General en Sofka</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Julian Andres Lasso Figueroa</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="button" mat-button>Ver informe completo</button>
    </mat-card-actions>
  </mat-card>

  <mat-card appearance="outlined" class="width-100">
    <mat-card-header>
      <mat-card-title>Top 10 Frontend</mat-card-title>
      <mat-card-subtitle>General en Sofka</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="button" mat-button>Ver informe completo</button>
    </mat-card-actions>
  </mat-card>

  <mat-card appearance="outlined" class="width-100">
    <mat-card-header>
      <mat-card-title>Top 10 Backend</mat-card-title>
      <mat-card-subtitle>General en Sofka</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="button" mat-button>Ver informe completo</button>
    </mat-card-actions>
  </mat-card>

  <mat-card appearance="outlined" class="width-100">
    <mat-card-header>
      <mat-card-title>Top 10 Líderes Técnicos</mat-card-title>
      <mat-card-subtitle>General en Sofka</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
            <mat-icon svgIcon="nodejs" matTooltip="NodeJS"></mat-icon>
            <mat-icon svgIcon="mongodb" matTooltip="MongoDB"></mat-icon>
          </div>
        </div>
      </div>
      <div class="professional">
        <div class="photo">
          <img src="https://picsum.photos/120" alt="Juan David" />
        </div>
        <div class="info">
          <div class="name">Juan David</div>
          <div class="client">Dale!</div>
          <div class="techs">
            <span class="tech">Angular</span>
            <span class="tech">Node</span>
            <span class="tech">MongoDB</span>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="button" mat-button>Ver informe completo</button>
    </mat-card-actions>
  </mat-card>
</div>
