<h2 mat-dialog-title>Cambio de contraseña</h2>
<mat-dialog-content>
    <form
        autocomplete="off"
        [formGroup]="frmResetPassword"
        id="frmResetPassword"
        (submit)="onSubmit()"
    >
        <!-- Password -->
        <mat-form-field class="width-100">
            <mat-label>Contraseña</mat-label>
            <input
                matInput
                type="password"
                formControlName="password"
                placeholder="Contraseña"
                required
            />
            @if (frmResetPassword.get('password')?.hasError('required')) {
            <mat-error>La contraseña es obligatoria</mat-error>
            }
        </mat-form-field>

        <!-- Confirm password -->
        <mat-form-field class="width-100">
            <mat-label>Confirme su contraseña</mat-label>
            <input
                matInput
                type="password"
                formControlName="passwordConfirmation"
                placeholder="Confirme su contraseña"
                required
            />
            @if
            (frmResetPassword.get('passwordConfirmation')?.hasError('required'))
            {
            <mat-error
                >La confirmación de la contraseña es obligatoria</mat-error
            >
            } @else if (frmResetPassword.hasError('passwordsDontMatch')) {
            <mat-error>Las contraseñas no coinciden</mat-error>
            }
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="buttons">
        <button
            type="submit"
            form="frmResetPassword"
            mat-flat-button
            color="primary"
            class="width-100"
            [disabled]="!frmResetPassword.valid"
        >
            CAMBIAR CONTRASEÑA
        </button>
        <a
            [routerLink]="['./security/sign-in']"
            mat-flat-button
            class="width-100"
            >IDENTIFICARSE</a
        >
    </div>
</mat-dialog-actions>
