<h2 mat-dialog-title>Identifícate</h2>
<mat-dialog-content>
  <form autocomplete="off" [formGroup]="frmSignIn" id="frmSignIn" (submit)="onSubmit()">

    <!-- Email -->
    <mat-form-field class="width-100">
      <mat-label>Correo electrónico</mat-label>
      <input matInput formControlName="email" placeholder="Correo electrónico" required>
      @if (frmSignIn.get('email')?.hasError('required')) {
      <mat-error>El correo electrónico es obligatorio</mat-error>
      } @else if (frmSignIn.get('email')?.hasError('email')) {
      <mat-error>El correo electrónico no es válido</mat-error>
      }
    </mat-form-field>

    <!-- Password -->
    <mat-form-field class="width-100">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Contraseña" required>
      @if (frmSignIn.get('password')?.hasError('required')) {
      <mat-error>La contraseña es obligatoria</mat-error>
      }
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="buttons">
    <button type="submit" form="frmSignIn" mat-flat-button color="primary" class="width-100"
      [disabled]="!frmSignIn.valid">IDENTIFICARSE</button>
    <a [routerLink]="['./security/sign-up']" mat-flat-button class="width-100">REGISTRARSE</a>
    <a [routerLink]="['./security/forgot-password']" mat-flat-button class="width-100">¿OLVIDASTE TU CONTRASEÑA?</a>
  </div>
</mat-dialog-actions>
