@if (loading === true) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else {
<div class="title">
    <h3>
        <mat-icon
            matListItemIcon
            fontSet="fa-solid"
            fontIcon="fa-lightbulb"
        ></mat-icon>
        Gestión de Habilidades
    </h3>
    <button mat-flat-button color="primary" (click)="openDialogNew(role!)">
        Agregar
    </button>
</div>
}
<div *ngIf="!role?.roleId">
<srms-input-filter
    [loadingTable]="loadingTable"
    [filter]="filter"
    (filterData)="filterData($event)"
    [loadingFromFilter]="loadingFromFilter"
></srms-input-filter>
</div>
<table
    mat-table
    [dataSource]="dataSource()"
    class="mat-elevation-z0"
    aria-label="Table with skill data"
>
    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Habilidad</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Disabled Column -->
    <ng-container matColumnDef="disabled">
        <th mat-header-cell *matHeaderCellDef>Habilitado</th>
        <td mat-cell *matCellDef="let element">
            @if (element.disabled === true) {
            <mat-icon color="warn">radio_button_unchecked</mat-icon>
            } @else {
            <mat-icon color="primary">radio_button_checked</mat-icon>
            }
        </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
            <button
                mat-icon-button
                color="primary"
                aria-label="Edit"
                (click)="openDialogEdit(element)"
                matTooltip="Editar"
                matTooltipPosition="left"
            >
                <mat-icon>edit</mat-icon>
            </button>
            <a
                mat-icon-button
                color="warn"
                aria-label="Delete"
                (click)="openDialogDelete(element.skillId)"
                matTooltip="Eliminar"
                matTooltipPosition="right"
            >
                <mat-icon>delete</mat-icon>
            </a>
            <button
                mat-stroked-button
                aria-label="Details"
                (click)="openSubSkills(element)"
                matTooltip="Ver habilidades asociadas"
                matTooltipPosition="left"
            >
               Detalle
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="element-row"
    ></tr>
</table>

<mat-paginator
    [length]="totalRecords()"
    [pageSize]="pageSize()"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[5, 10, 25, 50, totalRecords()]"
    aria-label="Select page"
    (page)="handlePageEvent($event)"
>
</mat-paginator>
