.content {
  display: flex;
  flex-direction: row;

  .avatar {
    position: relative;
    margin-right: 20px;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }

    button {
      position: absolute;
      bottom: 15px;
      right: -10px;
    }
  }

  form {
    mat-form-field {
      width: 100%;
    }
  }
}
