<form autocomplete="off">
    <mat-form-field class="width-100">
        <mat-label>Filtro</mat-label>
        <input
            id="filterInput"
            name="filterInput"
            #filterInput
            matInput
            [disabled]="loadingTable && !loadingFromFilter()"
            [ngModel]="filter()"
            (keyup)="onFilterChange($any($event.target).value)"
        />
        @if (loadingTable) {
        <div class="loading-table">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        }
    </mat-form-field>
</form>
