<form id="frmCity" [formGroup]="frmCity()" (submit)="onSubmit()">
    @if (city()?.cityId != null) {
    <input type="text" class="hidden" formControlName="cityId" />
    }

    <!-- Nombre -->
    <p>
        <mat-form-field class="width-100">
            <mat-label>Nombre</mat-label>
            <input
                matInput
                type="text"
                formControlName="name"
                placeholder="Nombre del rol"
            />
            @if (frmCity().get('name')?.errors?.['required']) {
            <mat-error>El nombre es requerido</mat-error>
            } @if (frmCity().get('name')?.errors?.['maxlength']) {
            <mat-error
                >El nombre debe tener un máximo de 50 caracteres</mat-error
            >
            }
        </mat-form-field>
    </p>

    <!-- País -->
    <p>
        <mat-form-field class="width-100">
            <mat-label>País</mat-label>
            <mat-select
                formControlName="countryId"
                (selectionChange)="onCountryChange($event)"
            >
                <mat-option>Seleccione un país</mat-option>
                @for (country of countries; track country) {
                <mat-option [value]="country.countryId">{{
                    country.name
                }}</mat-option>
                }
            </mat-select>
            @if (frmCity().get('countryId')?.errors?.['required']) {
            <mat-error>El país es requerido</mat-error>
            }
        </mat-form-field>
    </p>

    <!-- Departamento -->
    <p>
        <mat-form-field class="width-100">
            <mat-label>Departamento</mat-label>
            <mat-select formControlName="provinceId">
                <mat-option>Seleccione un departamento</mat-option>
                @for (province of provinces; track province) {
                <mat-option [value]="province.provinceId">{{
                    province.name
                }}</mat-option>
                }
            </mat-select>
            @if (frmCity().get('provinceId')?.errors?.['required']) {
            <mat-error>El departamento es requerido</mat-error>
            }
        </mat-form-field>
    </p>

    @if (city()?.cityId != null) {
    <p>
        <mat-slide-toggle
            formControlName="disabled"
            [checked]="frmCity().get('disabled')?.value"
        >
            @if (frmCity().get('disabled')?.value) {
            <span class="color-red">Habilitado</span>
            } @else {
            <span class="color-green">Deshabilitado</span>
            }
        </mat-slide-toggle>
    </p>
    @if (frmCity().get('id')?.errors?.['required']) {
    <mat-error>El id es requerido</mat-error>
    } @if (frmCity().get('id')?.errors?.['pattern']) {
    <mat-error>El id debe tener un valor válido</mat-error>
    } }
</form>
