<h2 mat-dialog-title>Recuperación de contraseña</h2>
<mat-dialog-content>
  <form autocomplete="off" [formGroup]="frmForgotPassword" id="frmForgotPassword" (submit)="onSubmit()">

    <!-- Email -->
    <mat-form-field class="width-100">
      <mat-label>Correo electrónico</mat-label>
      <input matInput formControlName="email" placeholder="Correo electrónico" required>
      @if (frmForgotPassword.get('email')?.hasError('required')) {
      <mat-error>El correo electrónico es obligatorio</mat-error>
      } @else if (frmForgotPassword.get('email')?.hasError('email')) {
      <mat-error>El correo electrónico no es válido</mat-error>
      }
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="buttons">
    <button type="submit" form="frmForgotPassword" mat-flat-button color="primary" class="width-100"
      [disabled]="!frmForgotPassword.valid">RECUPERAR CONTRASEÑA</button>
    <a [routerLink]="['./security/sign-in']" mat-flat-button class="width-100">IDENTIFICARSE</a>
  </div>
</mat-dialog-actions>
