<header class="header">
    <mat-toolbar class="header-bar">
        <span>Skills Ranking and Monitoring System - SRMS</span>
        <span class="spacer"></span>
        
        <div *ngIf="!isAuth">
        <button mat-button [routerLink]="['./security/sign-in']">Iniciar Sesion</button>
        <button mat-button [routerLink]="['./security/sign-up']">Registrarse</button>
        <mat-menu #profileMenu="matMenu">
            <a mat-menu-item routerLink="./user/profile">
                <mat-icon>account_circle</mat-icon>
                <span>Mi perfil</span>
            </a>
            <a mat-menu-item [disabled]="true">
                <mat-icon>settings</mat-icon>
                <span>Configuración</span>
            </a>
            <mat-divider></mat-divider>
            <a mat-menu-item routerLink="./security/sign-out">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar sesión</span>
            </a>
        </mat-menu>
        </div>
    </mat-toolbar>
</header>
<srms-banner></srms-banner>
<h2 class="podium-title">Evaluaciones Destacadas</h2>
<srms-podium></srms-podium>
<div class="footer-container">
    <div class="column">
      <h3>Enlaces útiles</h3>
      <ul>
        <li><a href="#">Búsqueda avanzada de perfiles</a></li>
        <li><a href="#">Calendario de eventos y capacitaciones</a></li>
        <li><a href="#">Foro de discusión y colaboración</a></li>
        <li><a href="#">Gestión de certificaciones y capacitaciones</a></li>
      </ul>
    </div>
    <div class="column">
      <h3>Funcionalidades adicionales</h3>
      <ul>
        <li><span>Seguimiento de tendencias tecnológicas</span></li>
        <li><span>Integración con plataformas de reclutamiento</span></li>
        <li><span>Generación de informes personalizados</span></li>
        <li><span>Asignación automática de tareas basada en habilidades</span></li>
      </ul>
    </div>
    <div class="column">
      <h3>Soporte y contacto</h3>
      <ul>
        <li><a href="#">Centro de ayuda</a></li>
        <li><a href="#">Contacto con el equipo de soporte</a></li>
        <li><span>Actualizaciones y noticias</span></li>
      </ul>
    </div>
    <div class="social-media">
      <h3>Síguenos en redes sociales</h3>
      <ul>
        <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
        <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
        <li><a href="#"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
        <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
      </ul>
    </div>
  </div>
<footer class="footer"></footer>