@if (menuHidden) {
  <button mat-fab color="primary" class="float-button" (click)="menuToggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="float-menu-icons">
    <button
      mat-mini-fab
      (click)="(true)"
      matTooltip="Inicio"
      matTooltipPosition="after"
      color="primary"
    >
      <mat-icon>home</mat-icon>
    </button>
    <button
      mat-mini-fab
      (click)="(true)"
      matTooltip="Configurar el sistema"
      matTooltipPosition="after"
      color="primary"
    >
      <mat-icon>settings</mat-icon>
    </button>
  </div>
}
@else {
  <div class="menu-icons">
    <button
      mat-icon-button
      (click)="menuToggle()"
      matTooltip="Ocultar menú"
      matTooltipPosition="after"
    >
      <mat-icon>menu_open</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="(true)"
      matTooltip="Inicio"
      matTooltipPosition="after"
    >
      <mat-icon>home</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="(true)"
      matTooltip="Configurar el sistema"
      matTooltipPosition="after"
    >
      <mat-icon>settings</mat-icon>
    </button>
  </div>
}
